@import "tailwindcss";

@theme inline {
  --color-brand-950: #020d2b;
  --color-brand-900: #081a3e;
  --color-brand-800: #143966;
  --color-brand-500: #2b6fac;
  --color-brand-200: #bae4fe;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-brand-950);
  color: #ffffff;
}